In [42]:
import pandas as pd
import numpy as np

In [43]:
data = {
    'Name':['albin','alfia','anjaleena'],
    'Age':[21,25,27],
    'City':['London','aluva','fort']
};

In [44]:
print(data)

{'Name': ['albin', 'alfia', 'anjaleena'], 'Age': [21, 25, 27], 'City': ['London', 'aluva', 'fort']}

In [45]:
df=pd.DataFrame(data)
print(df)

        Name  Age    City
0      albin   21  London
1      alfia   25   aluva
2  anjaleena   27    fort

In [46]:
data1 = ['sarah',22,'kochi'],['alfia',22,'aluva'],['joseph',22,'kalamaserry']
df1 = pd.DataFrame(data1, columns=['Name','Age','City'])
print(df1)

     Name  Age         City
0   sarah   22        kochi
1   alfia   22        aluva
2  joseph   22  kalamaserry

In [40]:
df=pd.read_csv('data.csv')
print(df.head())

   ID            Name                       Email  Age      Country
0   1        John Doe        john.doe@example.com   28          USA
1   2      Jane Smith      jane.smith@example.com   34       Canada
2   3    Robert Brown    robert.brown@example.com   45           UK
3   4     Emily Davis     emily.davis@example.com   30    Australia
4   5  Michael Wilson  michael.wilson@example.com   27  New Zealand

In [41]:
df=pd.read_csv('data.csv')
print(df.shape)
print(df.columns)

(100, 5)
Index(['ID', 'Name', 'Email', 'Age', 'Country'], dtype='object')

In [47]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   City    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes
None